* {
  padding: 0;
  margin: 0;
}
html {
  background-color: #000000;
}
.header {
  width: 100vw;
  height: 8vh;
  background-color: #19b6fa;
}

.card {
  height: 60vh;
  width: 60vw;
  background-color: #dddddd;
  margin-left: auto;
  margin-right: auto;
  margin-top: 75px;
}
